.calendar-events-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.scrollable-container {
  height: 80vh;
  overflow-y: auto;
  padding: 16px;
  border: 1px solid #423c3c;
  border-radius: 8px;
  margin: 30px auto;
}
